.header {
    text-align: right;
    padding-top: 0.313rem;
    padding-right:  0.313rem;
}

#dis-header {
    height: 75px;
    position: relative;
    text-align: right;
    color: #fffcfc;
    padding-top: 0.938rem;
    padding-right: 0.938rem;
    display: block;
}

.title,
.title>* {
    font-weight: bold;
    text-align: right;
}

.record-head {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 0.938rem;
}
.bi-arrows-angle-expand,.bi-shield,.rec{
    display:inline-block;
    padding:0.5rem;
}